Repository diegolanf/tochtli: changes, and which lint-staged commands are due for each by the changed paths.
All: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Rename and move route constants
  src/app/core/constants/route.constants.ts
  src/app/navigation/menu/navigation-menu.component.html
  src/app/navigation/menu/navigation-menu.component.ts
  src/app/navigation/navigation-menu-items.constants.ts
  src/app/navigation/navigation.component.html
  src/app/navigation/navigation.component.ts
  src/app/routine/routes.ts
  src/app/routine/runner/runner.component.html
  src/app/routine/runner/runner.component.ts
  src/app/shared/utils/string-utils.spec.ts
  src/app/shared/utils/string-utils.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Implement routine list
  src/app/core/constants/my-routines.constants.ts
  src/app/core/models/routine.ts
  src/app/routine/list/routine-list.component.html
  src/app/routine/list/routine-list.component.scss
  src/app/routine/list/routine-list.component.ts
  src/app/routine/runner/runner.component.html
  src/app/routine/runner/step-info/step-info.component.html
  src/app/routine/runner/step-info/step-info.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/index.html
  src/styles/styles.scss
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Install howler and add sounds to routine
  package-lock.json
  package.json
  src/app/core/models/runner.ts
  src/app/routine/list/routine-list.component.spec.ts
  src/assets/sounds/dirty-pulse-go.m4a
  src/assets/sounds/dirty-pulse-ready.m4a
  src/assets/sounds/micro-pulse-go.m4a
  src/assets/sounds/micro-pulse-ready.m4a
  src/assets/sounds/short-pluck-go.m4a
  src/assets/sounds/short-pluck-ready.m4a
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Truncate text in routine list and runner title
  src/app/routine/list/routine-list.component.html
  src/app/routine/list/routine-list.component.scss
  src/app/routine/runner/runner.component.html
Due: prettier -w --config .prettierrc

Rename routine state in store
  src/app/routine/list/routine-list.component.ts
  src/app/routine/runner/runner.component.ts
  src/app/store/app-state.model.ts
  src/app/store/index.ts
  src/app/store/routine/index.ts
  src/app/store/routine/routine.actions.ts
  src/app/store/routine/routine.model.ts
  src/app/store/routine/routine.reducer.ts
  src/app/store/routine/routine.selectors.ts
  src/app/store/runner/index.ts
  src/app/store/runner/runner.actions.ts
  src/app/store/runner/runner.model.ts
  src/app/store/runner/runner.reducer.ts
  src/app/store/runner/runner.selectors.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Restore step and countdown from store
  src/app/core/models/runner.ts
  src/app/routine/runner/runner.component.ts
  src/app/routine/runner/timer/runner-timer.component.ts
  src/app/store/runner/runner.actions.ts
  src/app/store/runner/runner.reducer.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Bootstrap application via bootstrapApplication
  angular.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/translation/transloco-http-loader.spec.ts
  src/app/core/translation/transloco-http-loader.ts
  src/app/navigation/menu/navigation-menu.component.ts
  src/app/navigation/navigation.component.ts
  src/app/routine/list/routine-list.component.ts
  src/app/routine/routes.ts
  src/app/routine/runner/runner.component.ts
  src/app/routine/runner/step-info/step-info.component.ts
  src/app/routine/runner/stepper/runner-stepper.component.ts
  src/app/routine/runner/timer/runner-timer.component.ts
  src/app/shared/index.ts
  src/app/shared/shared.module.ts
  src/app/transloco-root.module.ts
  src/main.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Fix incorrect component on app unit test
  src/app/app.component.spec.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Simplify prettier config
  .prettierrc
Due: none

Path conditions:
  npx replace "from 'src/app" "from '@app": any of: *.ts
  prettier -w --config .prettierrc: (((any of: *.ts) or (any of: *.html)) or (any of: *.scss)) or (any of: *.json)
  eslint --fix -c .eslintrc.base.json: any of: *.ts
