Repository diegolanf/tochtli: changes, and which lint-staged commands are due for each by the changed paths.
All: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Install Cypress
  angular.json
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Fix Jasmine and Cypress conflict
  cypress/tsconfig.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier -w --config .prettierrc

Install concurrently and wait-on
  .gitignore
  karma.conf.js
  package-lock.json
  package.json
Due: prettier -w --config .prettierrc

Delete Angular placeholder content
  cypress/e2e/spec.cy.ts
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/main.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Create new Nest project
  .gitignore
  api/.eslintrc.js
  api/README.md
  api/nest-cli.json
  api/package-lock.json
  api/package.json
  api/src/app.controller.spec.ts
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/app.service.ts
  api/src/main.ts
  api/test/app.e2e-spec.ts
  api/test/jest-e2e.json
  api/tsconfig.build.json
  api/tsconfig.json
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Run firebase init and configure Nest project as function
  .firebaserc
  .gitignore
  api/package-lock.json
  api/package.json
  api/src/app.init.ts
  api/src/app.module.ts
  api/src/index.ts
  api/src/main.ts
  api/webpack-hmr.config.js
  firebase.json
  package-lock.json
  package.json
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Add build:prod script
  package.json
Due: prettier -w --config .prettierrc

Add GitHub action file
  .github/workflows/firebase.yml
Due: none

Add GitHub action file
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
  src/styles.scss
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Install Rx-Angular state and template
  package-lock.json
  package.json
Due: prettier -w --config .prettierrc

Install Tailwind CSS
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier -w --config .prettierrc

Initial Tailwind configuration
  src/styles.scss
  tailwind.config.js
Due: prettier -w --config .prettierrc

Define light and dark themes
  src/index.html
  src/styles.scss
Due: prettier -w --config .prettierrc

Install transloco via ng add @ngneat/transloco
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/transloco-root.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  transloco.config.js
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Remove angular-eslint schematics
  angular.json
Due: prettier -w --config .prettierrc

Add navigation component from schematics
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/navigation/navigation.component.html
  src/app/navigation/navigation.component.scss
  src/app/navigation/navigation.component.spec.ts
  src/app/navigation/navigation.component.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Create screen size service
  src/app/core/services/screen-size.service.spec.ts
  src/app/core/services/screen-size.service.ts
  src/app/navigation/navigation.component.html
  src/app/navigation/navigation.component.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Implement basic navigation
  angular.json
  src/app/navigation/menu/navigation-menu.component.html
  src/app/navigation/menu/navigation-menu.component.scss
  src/app/navigation/menu/navigation-menu.component.spec.ts
  src/app/navigation/menu/navigation-menu.component.ts
  src/app/navigation/navigation-menu-items.constants.ts
  src/app/navigation/navigation.component.html
  src/app/navigation/navigation.component.scss
  src/app/navigation/navigation.component.spec.ts
  src/app/navigation/navigation.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/styles.scss
  tsconfig.json
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Create placeholder routine list and runner components
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/routes.ts
  src/app/routine/list/routine-list.component.html
  src/app/routine/list/routine-list.component.scss
  src/app/routine/list/routine-list.component.spec.ts
  src/app/routine/list/routine-list.component.ts
  src/app/routine/routes.ts
  src/app/routine/routine.service.spec.ts
  src/app/routine/routine.service.ts
  src/app/routine/runner/runner.component.html
  src/app/routine/runner/runner.component.scss
  src/app/routine/runner/runner.component.spec.ts
  src/app/routine/runner/runner.component.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Add htmlWhitespaceSensitivity to prettier config
  .eslintrc.base.json
  .prettierrc
Due: prettier -w --config .prettierrc

Sort prettier config
  .prettierrc
Due: none

Create navigation service and back button directive
  src/app/core/services/navigation.service.spec.ts
  src/app/core/services/navigation.service.ts
  src/app/navigation/menu/navigation-menu.component.html
  src/app/shared/directives/back-button.directive.spec.ts
  src/app/shared/directives/back-button.directive.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Change icon color in navigation
  src/app/navigation/menu/navigation-menu.component.html
  src/app/navigation/navigation.component.html
Due: prettier -w --config .prettierrc

Install Luxon and create core models for activity and routine
  package-lock.json
  package.json
  src/app/core/models/activity.spec.ts
  src/app/core/models/activity.ts
  src/app/core/models/routine.spec.ts
  src/app/core/models/routine.ts
  src/app/core/models/test/routine.mock.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Create base routine model
  src/app/core/models/runner.spec.ts
  src/app/core/models/runner.ts
  src/app/core/models/test/routine.mock.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Create runner stepper
  src/app/core/models/runner.ts
  src/app/routine/routes.ts
  src/app/routine/routine.service.spec.ts
  src/app/routine/routine.service.ts
  src/app/routine/runner/runner.component.html
  src/app/routine/runner/runner.component.ts
  src/app/routine/runner/stepper/runner-stepper.component.html
  src/app/routine/runner/stepper/runner-stepper.component.scss
  src/app/routine/runner/stepper/runner-stepper.component.spec.ts
  src/app/routine/runner/stepper/runner-stepper.component.ts
  src/app/routine/runner/timer/runner-timer.component.html
  src/app/routine/runner/timer/runner-timer.component.scss
  src/app/routine/runner/timer/runner-timer.component.spec.ts
  src/app/routine/runner/timer/runner-timer.component.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Add progress spinner to runner timer
  angular.json
  src/app/core/models/activity.spec.ts
  src/app/core/models/activity.ts
  src/app/core/models/routine.ts
  src/app/core/models/runner.ts
  src/app/navigation/navigation.component.spec.ts
  src/app/routine/runner/stepper/runner-stepper.component.spec.ts
  src/app/routine/runner/timer/runner-timer.component.html
  src/app/routine/runner/timer/runner-timer.component.scss
  src/app/routine/runner/timer/runner-timer.component.spec.ts
  src/app/routine/runner/timer/runner-timer.component.ts
  src/styles/mixins/shapes.scss
  src/styles/mixins/text.scss
  src/styles/styles.scss
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Adjust theme palette on dark mode
  src/styles/styles.scss
Due: prettier -w --config .prettierrc

Replace button with anchor in navigation menu
  src/app/navigation/menu/navigation-menu.component.html
Due: prettier -w --config .prettierrc

Update rx-angular/cdk
  package-lock.json
  package.json
Due: prettier -w --config .prettierrc

Update rx-angular/template
  package-lock.json
  package.json
  src/app/navigation/menu/navigation-menu.component.html
  src/app/navigation/navigation.component.html
Due: prettier -w --config .prettierrc

Implement countdown inside runner timer
  src/app/core/models/activity.spec.ts
  src/app/routine/runner/timer/runner-timer.component.html
  src/app/routine/runner/timer/runner-timer.component.ts
  src/app/shared/pipes/seconds-to-time.pipe.spec.ts
  src/app/shared/pipes/seconds-to-time.pipe.ts
  src/index.html
  src/styles/styles.scss
  tailwind.config.js
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Create step description component
  src/app/core/models/test/routine.mock.ts
  src/app/routine/runner/runner.component.html
  src/app/routine/runner/runner.component.ts
  src/app/routine/runner/step-description/step-description.component.html
  src/app/routine/runner/step-description/step-description.component.scss
  src/app/routine/runner/step-description/step-description.component.spec.ts
  src/app/routine/runner/step-description/step-description.component.ts
  src/app/routine/runner/timer/runner-timer.component.scss
  src/app/routine/runner/timer/runner-timer.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Implement restart step in runner
  src/app/core/models/runner.ts
  src/app/routine/runner/runner.component.html
  src/app/routine/runner/runner.component.ts
  src/app/routine/runner/step-description/step-description.component.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Fix runner completing 1 step before last
  src/app/core/models/runner.ts
  src/app/core/models/test/routine.mock.ts
  src/app/core/services/navigation.service.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Rename step description as step info
  src/app/routine/runner/runner.component.html
  src/app/routine/runner/runner.component.ts
  src/app/routine/runner/step-description/step-description.component.spec.ts
  src/app/routine/runner/step-info/step-info.component.html
  src/app/routine/runner/step-info/step-info.component.scss
  src/app/routine/runner/step-info/step-info.component.spec.ts
  src/app/routine/runner/step-info/step-info.component.ts
  src/app/routine/runner/stepper/runner-stepper.component.html
  src/app/routine/runner/stepper/runner-stepper.component.scss
  src/app/routine/runner/stepper/runner-stepper.component.ts
  src/app/routine/runner/timer/runner-timer.component.html
  src/app/routine/runner/timer/runner-timer.component.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Install ngrx-store and create routine reducer
  .eslintrc.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/routine/runner/runner.component.ts
  src/app/store/app-state.model.ts
  src/app/store/index.ts
  src/app/store/routine/index.ts
  src/app/store/routine/routine.actions.ts
  src/app/store/routine/routine.model.ts
  src/app/store/routine/routine.reducer.ts
  src/app/store/routine/routine.selectors.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Install ngrx-effects and create log effect
  .eslintrc.base.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/store/index.ts
  src/app/store/log.effects.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Add missing store provider on unit test
  src/app/routine/runner/runner.component.spec.ts
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Add back button and title to runner
  src/app/app.module.ts
  src/app/core/services/navigation.service.ts
  src/app/routine/runner/runner.component.html
  src/app/routine/runner/runner.component.spec.ts
  src/app/routine/runner/runner.component.ts
  src/app/shared/directives/back-button.directive.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/styles/styles.scss
Due: npx replace "from 'src/app" "from '@app", prettier -w --config .prettierrc, eslint --fix -c .eslintrc.base.json

Path conditions:
  npx replace "from 'src/app" "from '@app": any of: *.ts
  prettier -w --config .prettierrc: (((any of: *.ts) or (any of: *.html)) or (any of: *.scss)) or (any of: *.json)
  eslint --fix -c .eslintrc.base.json: any of: *.ts
